includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - tests/PHPStan/disallowedCalls.neon
    - tests/PHPStan/shipmonk.neon

parameters:
    level: max
    paths:
        - src

    exceptions:
        implicitThrows: false
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException
            - Nette\InvalidStateException

    ignoreErrors:
        - # covered by tests
            message: '#^Trait Nepada\\Bridges\\EmailAddressInputForms\\EmailAddressInputMixin is used zero times and is not analysed\.$#'
            identifier: trait.unused
            count: 1
            path: src/Bridges/EmailAddressInputForms/EmailAddressInputMixin.php
        - # covered by tests
            message: '#^Trait Nepada\\Bridges\\EmailAddressInputForms\\TEmailAddressInput is used zero times and is not analysed\.$#'
            identifier: trait.unused
            count: 1
            path: src/Bridges/EmailAddressInputForms/TEmailAddressInput.php
        - # intended
            message: '#Parameter \#1 \$value \(Nepada\\EmailAddress\\EmailAddress\|string\|null\) of method Nepada\\EmailAddressInput\\EmailAddressInput::setDefaultValue\(\) should be contravariant with parameter#'
            path: src/EmailAddressInput/EmailAddressInput.php
        -
            message: "#^Dead catch \\- Nepada\\\\EmailAddress\\\\InvalidEmailAddressException is never thrown in the try block\\.$#"
            count: 1
            path: src/EmailAddressInput/EmailAddressInput.php
        -
            message: "#^Parameter \\#1 \\$s of static method Nette\\\\Utils\\\\Strings\\:\\:trim\\(\\) expects string, mixed given\\.$#"
            count: 2
            path: src/EmailAddressInput/EmailAddressInput.php

